:host {
  .overlay {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
  }
  .modal {
    position: fixed;
    width: 300px;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px 1px gray;
    transform: translate(50%, 0);
    background: white;
    right: 50%;
    top: 10px;
    animation: openModal 0.5s;
    z-index: 11111;
    &__header {
      font-size: 20px;
      border-bottom: 1px solid var(--box-shadow);
      padding-bottom: 12px;
      margin-bottom: 12px;
    }
    .row {
      margin-bottom: 8px;
      &:last-child {
        margin: 0;
        margin-top: 16px;
        text-align: right;
      }
    }
  }
}

@keyframes openModal {
  From{
    opacity: 0;
    top: -100px;
  }
  To {
    opacity: 1;
    top: 10px;
  }
}
