<div class="overlay" *ngIf='isVisible' (click)='onOverlayClick()'></div>
<div class='modal' *ngIf='isVisible'>
  <form [formGroup]='form' (ngSubmit)="onSubmit()">
    <div class="modal__header">{{formTitle}}</div>
    <div class='row' *ngFor='let control of controls'>
      <ng-container *ngIf="control?.name === '_id' && isEditable">
        <label>{{control.label}}</label>
        <input class='text-box' type="text" formControlName='{{control.name}}' [attr.disabled]="control?.name === '_id' ? '' : disabled">
      </ng-container>
      <ng-container *ngIf="control?.name !== '_id'">
        <label>{{control.label}}</label>
        <input class='text-box' type="text" formControlName='{{control.name}}' autofocus>
      </ng-container>
    </div>
    <div class="row">
      <button class='primary-btn' type='submit' *ngIf='!isEditable' [disabled]='!form.valid'>Save</button>
      <button class='primary-btn' type='submit' *ngIf='isEditable' [disabled]='!form.valid'>Update</button>
    </div>
  </form>
</div>
