<div class='card'>
  <ng-container *ngFor='let key of keys'>
    <div class='ellipse-class desc' title='{{value[key.name]}}'>
      <div class='desc__key'>{{key.label}}</div> : {{value[key.name]}}</div>
  </ng-container>
  <i class="material-icons option-icon" (click)='onToggleClick()'>more_vert</i>
  <div class="options-list" *ngIf='isOptions' (clickOutside)='onOutsideClick()'>
      <i class="material-icons delete" (click)="onClick('DELETE', value)">delete</i>
      <i class="material-icons edit" (click)="onClick('EDIT', value)">edit</i>
  </div>
</div>