:host {
    display: inline-block;
    width: auto;
    margin-top: 24px;
    max-width: 400px;
    min-width: 275px;
    animation: card_in 1s;
    .card {
        padding: 16px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 1px var(--box-shadow);
        position: relative;
        padding-right: 38px;
        box-sizing: border-box;
        width: 100%;
        padding-bottom: 10px;
        .desc {
            color: var(--gray-color);
            margin-bottom: 4px;
            &__key {
                color: black;
                border: 1px solid var(--box-shadow);
                padding: 2px 9px 0;
                border-radius: 6px;
                display: inline-block;
                text-transform: uppercase;
                font-size: 16px;
            }
        }
        .option-icon {
            position: absolute;
            top: 8px;
            right: 6px;
            color: var(--black-color) ;
            &:hover {
                font-size: 28px;
            }
        }
        .options-list {
            position: absolute;
            top: 8px;
            right: 6px;
            display: flex;
            flex-direction: column-reverse;
            background: var(--white-color);
            width: 26px;
            height: 64px;
            justify-content: space-around;
            border-radius: 4px;
            box-shadow: 0px 0px 4px 1px var(--box-shadow);
            .delete {
                font-size: 20px;
                text-align: center;
                &:hover {
                    color: var(--red-color);
                    font-size: 22px;
                }
            }
            .edit {
                font-size: 20px;
                text-align: center;
                color: var(--box-shadow);
                &:hover {
                    color: var(--primary-color);
                    font-size: 22px;
                }
            }
        }
    }
}

@keyframes card_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
