<div class="left">
  <label class="text">Page No : </label>
  <input type="number" class="text-box number-box" [(ngModel)]='pageNo' [class.invalid]='isInvalidPage' [disabled]='!isPrev && !isNext' (input)='onKeyDown()'/>
  <label class="text">Page Limit : </label>
  <input type="number" class="text-box number-box" [(ngModel)]='limit' (input)='onLimitKeyDown()'/>
  <button class="primary-btn go-btn" (click)='onPageCreate()' [disabled]='isInvalidPage'>GO</button>
</div>
<div class="right">
  <div class="prev" (click)="isPrev ? onPrevClick() : ''" [class.disabled]='!isPrev'>
    <i class="material-icons">keyboard_arrow_left</i>
  </div>
  <div class="next" (click)="isNext ? onNextClick() : ''" [class.disabled]='!isNext'>
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
</div>
