:host {
  display: flex;
  .left,
  .right {
    display: flex;
    width: 50%;
    align-items: center;
  }
  .right {
    justify-content: flex-end;
  }
  .text {
    display: inline-block;
    margin: 0;
  }
  .number-box {
    width: 40px;
    padding: 4px 6px;
    margin: 0 20px;
  }
  .go-btn {
    padding: 4px 10px;
  }
  .next, .prev {
    border: 2px solid var(--box-shadow);
    border-radius: 4px;
    display: flex;
    user-select: none;
    &:hover {
      background: var(--box-shadow);
      color: var(--white-color);
    }
  }
  .next {
    margin-left: 20px;
  }
  .disabled {
    i {
      cursor: not-allowed;
    }
  }
  .invalid {
    border: 1px solid var(--red-color);
    box-shadow: 0px 0px 4px 1px var(--red-color);
    outline: none;
  }
}


// Media Query for screen size <= 820px
@media only screen and (max-width: 820px) {
  .left {
    width: 70% !important;
  }
  .right {
    width: 30% !important;
  }
}


// Media Query for screen size <= 650
@media only screen and (max-width: 650px) {
  .text {
    font-size: 12px;
  }
  .number-box {
    margin: 0 6px !important;
  }
}
