/* You can add global styles to this file, and also import other style files */
:root {
  --white-color: white;
  --black-color: black;
  --red-color: red;
  --gray-color: gray;

  --primary-color: #2B78FE;
  --box-shadow: #cdd5f9;
}

body {
  margin: 0;
  background: white;
}

.container {
  width: 80%;
  margin: auto;
}

// For input text
.text-box {
  border: none;
  border-radius: 3px;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 1px var(--box-shadow);
}

.ellipse-class {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label {
  display: block;
  margin-bottom: 4px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.primary-btn {
  padding: 8px 16px;
  background: var(--white-color);
  box-shadow: 0px 0px 4px 1px var(--box-shadow);
  border: none;
  color: var(--primary-color);
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  margin-right: 12px;
  &:last-child{
    margin: 0;
  }
  &:hover{
    background: var(--box-shadow);
    color: var(--white-color);
  }
}

.delete-btn {
  background: var(--red-color);
}

:disabled, .disabled {
  opacity: .5;
  cursor: not-allowed;
}

i {
  cursor: pointer;
  margin-right: 4px;
  &:last-child {
    margin-right: 0;
  }
}

.edit {
  font-size: 22px;
  &:hover {
    color: var(--primary-color);
  }
}

.delete {
  &:hover {
    color: var(--red-color);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
