:host {
  .header {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100vw;
    box-shadow: 0px 0px 4px 1px var(--box-shadow);
    z-index: 1;
    background: var(--white-color);
    &__container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .filter-row {
    display: flex;
    align-items: center;
      .text-box {
        width: 200px;
        margin-right: 20px;
        background: var(--white-color);
      }
  }

  .table-container {
  }

  .card-container {
    display: none;
  }
  .app-body {
    margin-top: 90px;
    margin-bottom: 30px;
    table {
      box-shadow: 0px 0px 4px 1px var(--box-shadow);
      width: 100%;
      border-collapse: collapse;
      thead {
        tr {
          th {
            padding: 18px 12px;
            text-align: left;
            position: relative;
            cursor: pointer;
            user-select: none;
            i {
              position: absolute;
              right: 20px;
              top: 15px;
            }
          }
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background: var(--box-shadow);
          }
          td {
            width: calc(90% / 4);
            padding: 12px;
            &:last-child {
              width: 10%;
            }
          }
        }
      }
    }
    .not-available {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 250px;
      .text {
        font-size: 34px;
      }
      .add-data {
        color: var(--gray-color);
        font-size: 24px;
        margin: 24px 0;
      }
      .add-btn {
        width: 132px;
      }
    }
  }
  .pagination {
    background: cornflowerblue;
  }
}

// Media Query for screen size <= 820px
@media only screen and (max-width: 820px) {
  .header__container {
    width: 90%;
    .primary-btn {
      font-size: 10px;
      padding: 8px;
    }
    .filter-row {
      .text-box {
        width: 150px;
        padding: 6px;
      }
    }
  }
  .table-container {
    display: none;
  }
  .card-container {
    display: flex !important;
    flex-direction: column;
    app-card {
      width: 90%;
    }
    .flex-container {
      display: flex;
    }
    .pagination {
      margin-top: 20px;
      padding: 6px 10px;
      border-radius: 4px;
    }
  }
}

// Media Query for screen size <= 500px
@media only screen and (max-width: 500px) {
  .header__container {
    .filter-row {
      .text-box {
        width: 100px;
        padding: 6px;
        margin-right: 4px;
      }
    }
  }
}
