<app-form-modal
  [formTitle]='formTitle'
  [modalVisibility]="isModal"
  [formElements]="columns"
  [formData]="selectedData"
  (formSubmit)="onSubmitForm($event)"
  [canEditable]="isEditable"
  (outsideClick)="onFormOverlayClick($event)"
></app-form-modal>

<div class="header">
  <div class="container header__container">
      <button class='primary-btn' (click)="onClick('ADD')">Add Course</button>
      <div class="filter-row">
        <select name="filter" id="filter" class='text-box' [(ngModel)]='filterKey'>
          <option [value]="column.name" *ngFor='let column of columns'>{{column.label}}</option>
        </select>
        <input type="text" class='text-box' name="" id="" [(ngModel)]='filterValue' placeholder='Type filter value..'>
        <button class='primary-btn' (click)="onFilterClick()" [disabled]='!filterKey'>Filter</button>
      </div>
  </div>
</div>
<div class="app-body">
  <div class="container">
    <table *ngIf='courses.length' class='table-container'>
      <thead>
        <tr>
          <th *ngFor="let column of columns; let i = index" (click)='onHeaderClick(column, i)'>
            {{ column.label }}
            <i class="material-icons" (click)="onClick(column, false)" *ngIf='!column.isSort'>keyboard_arrow_down</i>
            <i class="material-icons" (click)="onClick(column, true)" *ngIf='column.isSort'>keyboard_arrow_up</i>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td *ngFor="let column of columns">{{ course[column.name] }}</td>
          <td>
            <i class="material-icons edit" (click)="onClick('EDIT', course)"
            >edit</i
            >
            <i class="material-icons delete" (click)="onClick('DELETE', course)"
            >delete</i
            >
          </td>
        </tr>
        <tr *ngIf='isPagination'>
          <td colspan='5' class='pagination'>
            <app-pagination [totalCount]='totalCount' (pageDetails)='onPagination($event)'></app-pagination>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card-container">
      <div class="flex-container">
        <app-card
            *ngFor='let course of courses'
            [keys]='columns'
            [value]='course'
            (buttonClicked)="onClick($event)">
        </app-card>
      </div>
      <div class='pagination'>
          <app-pagination [totalCount]='totalCount' (pageDetails)='onPagination($event)'></app-pagination>
      </div>
    </div>
    <div class="not-available" *ngIf='!courses.length'>
      <div class='text'>Not Available!</div>
      <div class="add-data">Please add course to display...</div>
      <button class='primary-btn add-btn' (click)="onClick('ADD')">Add Course</button>
    </div>
  </div>
</div>
